.pd_main_div {
  padding: 20px;
  background-color: white;
  height: max-content;
}

.pd_banner_image {
  width: 100%;
  margin-bottom: 10px;
}
.pd_individual_product {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.pd_individual_image {
  object-fit: contain;
  width: 300px;
  height: max-content;
}

.pd_individual_information {
  padding-left: 20px;
}

.pd_individual_title {
  font-size: 20px;
  font-weight: 600;
}

.pd_individual_rating {
  margin-top: 10px;
  display: flex;
}

.pd_individual_price {
  margin-top: 10px;
}

.pd_individual_information > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 40px;
  min-width: 150px;
  color: #111;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}

.pd_individual_desc {
  margin-top: 20px;
}

.pd_individual_specify {
  margin-top: 20px;
}

i {
  vertical-align: middle;
}
